language: python

python:
  - "3.6"

before_install:
  - pip install --upgrade pip setuptools wheel

install:
  - pip install -r requirements.txt
  - pip install codecov

script:
  - coverage run --source=torosgcn.listen,torosgcn.scheduler,torosgcn.config setup.py test

after_success:
  - codecov
